extends layout

block content
  h1= title
  p Bienvenido a #[em Union App], la primera version de la aplicación de gestión de Union S.A.

  h1 Resumen

  if error
    p Error getting dynamic content.
  else
    p Resumen de actividad de la empresa:

    ul
      li #[strong Personas:] !{data.personaCount} 
      li #[strong Montajes:] !{data.montajeCount}
      li #[strong Reparaciones:] !{data.reparacionCount}
      li #[strong Reportes:] !{data.reporteCount}
      li #[strong Revisiones:] !{data.revisionCount}
      li #[strong Pruebas de Limitadores:] !{data.pruebalimitadoresCount}
      li #[strong Adquisiciones:] !{data.adquisicionCount}
      li #[strong Clientes:] !{data.clienteCount}
      li #[strong Contratos:] !{data.contratoCount}
      li #[strong Gruas:] !{data.gruaCount}
      li #[strong Guias de Despacho:] !{data.guiaDespachoCount}
      li #[strong Obras:] !{data.obraCount}
      li #[strong Ofertas:] !{data.ofertaCount}
      li #[strong Ordenes de Compra:] !{data.ordenCompraCount}
      li #[strong Oficinas:] !{data.oficinaCount}
      li #[strong Personas Foraneas:] !{data.personaForaneaCount}
      
