extends layout

block content

  h2 ID: #{persona._id} 
  
  p #[strong Apellido Paterno:] #{persona.apellido1}
  p #[strong Apellido Materno:] #{persona.apellido2}
  p #[strong Nombre:] #{persona.nombre}
  p #[strong Rut:] #{persona.rut}
  p #[strong Domicilio:] #{persona.domicilio}
  p #[strong Cargo:] #{persona.cargo}
  p #[strong Sexo:] #{persona.sexo}
  p #[strong Fecha de Nacimiento:] #{persona.fecha_nacimiento_formato}
  p #[strong Fecha de Ingreso:] #{persona.fecha_ingreso_formato}
  p #[strong Sueldo Base:] #{persona.sueldoBase}
  p #[strong Estado Civil:] #{persona.estadoCivil}
  p #[strong AFP:] #{persona.afp}
  p #[strong Isapre:] #{persona.isapre}

  hr 

  p

    a(href=persona.id+'/delete') Eliminar persona